body {
  background-color: rgb(20,20,20);
  font-family: Arial;
  margin-left: 200px;
  margin-right: 200px;
  
}

/*elements are in order from top to bottom right to left*/

/*main title*/
h1{
  text-shadow: 0px 0px 3px rgba(37, 247, 247,.75);
  padding: 10px;
  margin: 0px;
  color: rgb(255, 255, 255);
  
  font-size: 50px;
  font-family: Arial;
  text-align: center;
  /*text-shadow: 0px 0px 90px rgba(255, 255, 255, .5), 0px 0px 5px rgba(63, 161, 241, .5);*/
}

/*sub title*/
h2{
  will-change: text-shadow;
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 35px;
  
  margin-top: 0px;
  margin-bottom: 0px;
}

.tnr{
  font-family: 'Times New Roman';
  font-style: italic;
  font-size: 30px;
}
.tnr2{
  font-family: 'Times New Roman';
  font-style: italic;
  font-size: 22px;
}

.dimension-div{
  text-align: center;
  display: block;
}

/*default font for text*/
p {
font-family: Arial;
}


/*dimension input label*/
.dimension-label{
  
  display: inline-block;
  color: white;
  font-size: 20px;
  margin-top: 50px;
  
  
}





/*UI ELEMENTS __________________________________________________________*/

.dimension-input,.compute-button,.matrix-div{
  background-color: rgb(40, 40, 40);
  color: white;
  border-style: solid;
  border-radius: 10px;
  transition: background-color .25s, box-shadow .25s;
 


}




.dimension-input:hover,.compute-button:hover,.matrix-div:hover{
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  background-color: rgb(60,60,60);

}


/*dimension input __________________________________________________________*/

.dimension-input{
  margin-bottom: 50px;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, .25);
}

.dimension-input:hover{
  
  
}

.dimension-input:active{
  
  
}

/*Button __________________________________________________________*/


.compute-button {
  display: block;
  border-color: rgba(255, 255, 255, .25);
  border-width: 0px;
  font-size: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 100px;
  margin: 40px auto;
  
}

.compute-button:hover{
  cursor: pointer;
  
  
  
}

.compute-button:active{
  /*box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25) ;*/
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: rgb(75, 75, 75);
  border-width: 1px;
  
}


/*matrix div __________________________________________________________*/

.matrix-div{
  
  display: inline-block;
  width: 340px;
  height: 300px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, .25);
  margin: 15px;
  text-align: left;
  border-width: 1px;
  
}

.matrix-div:hover{
  
}



.full-matrix-div{

  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}






.variable-div{
  font-family: 'Times New Roman';
  font-style: italic;
  margin-top: 142px;
  margin-bottom: 142px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  color: white;
  width: 30px;
}






