.dayContentChildDiv{
  text-align: center;
  padding: 2px;
  width: 11vw;
}




.taskLabel, .overflowLabel{
  margin: 0px;
  border-radius: 3px;
  padding: 2px;
  overflow: hidden;
  white-space: nowrap; 
  
}





.overflowLabel{
  color: black;
  background-color: rgb(224, 225, 235);
}

.palette{
  background-color: hsl(46, 100%, 41%);
  background-color: rgb(42, 157, 165);
}
