

.projectDiv {
  display: inline-block;
  width: 600px;
  height: 500px;
  border-radius: 10px;
  
  border-color: rgba(255, 255, 255, 0.25);
  margin: 15px;
  text-align: left;
  
  
  transition: background-color 0.25s, box-shadow 0.25s, border-color .25s;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.075);
  padding: 10px;
}



.projectDiv:hover {
  border-top: 2px solid rgba(255, 255, 255, 0.22);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.titleDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 50px;
}

.title{
  color: rgba(255, 255, 255, 1);
  margin: 0px;
  margin-left: 6px;
  border-radius: 10px;
  padding: 6px;
  border-top: 2px solid rgba(255, 255, 255, 0);
  padding-top: 0px;
  transition: background-color 0.25s, box-shadow 0.25s, border-color .25s;
}

.title:hover{
  color: rgba(255, 255, 255, 1);
  margin: 0px;
  margin-left: 6px;
  cursor: pointer;
  
}


.gitDiv{
  display: flex;
  
  align-items: center;
  border-top: 2px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  transition: background-color 0.25s, box-shadow 0.25s, border-color .25s;
  
}

.gitDiv:hover, .stackDivChild:hover, .title:hover{
  cursor: pointer;
  
  border-top: 2px solid rgba(255, 255, 255, 0.22);
  background-color: rgba(255, 255, 255, 0.1);
}

.gitHub{
  height: 40px;
}

.gitCat{
  height: 30px;
  margin: 6px;
  
}

.midDiv{
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 10px;
  height: 170px;
  
}

.stackDiv{
  display: flex;
  flex-direction: column;
  margin-right: 4px;
}

.stackDivChild{
  display: flex;
  width: 110px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  margin-top: 2.5px;

  border-top: 2px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  transition: background-color 0.25s, box-shadow 0.25s, border-color .25s;
  color: rgba(255, 255, 255, 0.6);
}

.stackImg{
  height: 25px;
}

.stackImgTypescript{
  height: 20px;
  margin: 2.5px;
}

.sylvester{
  width: 00%;
  border-radius: 6px;
  border-top: 2px solid rgba(255, 255, 255, 0.22);
}

.list{
  margin: 0px;
  padding-left: 30px;
}

.listItem{
  color: rgba(255, 255, 255, 0.6);
  
  align-items: center;
  padding: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 4.5px;
  width: 360px;
  
}




