.footer {
  display: flex;
  justify-content: space-between;
  width: 145px;
  padding: 0px 15px;
  margin-left: 1px;
}

.img {
  height: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-left: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(255, 255, 255, 0);
  padding: 10px;
  border-radius: 15px;
  transition: 0.25s;
}

.img:hover {
  cursor: pointer;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}

.img:active {
  transform: scale(0.95);
}
