.home{
  
  background-color: rgb(29, 33, 42);
  font-family: quicksand;
  font-weight: 300;
  margin: 0;
  margin-top: 80px;
  text-align: center;
  
}


.lightBar{
  box-shadow: 0px -50px 200px 50px rgba(103, 255, 247, 0.15);
  width: 50%;
  margin-left: 25%;
}

