@font-face {
  font-family: "Fattern";
  src: url("/fonts/Fattern.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 1850px) {
  .fullDiv {
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media (min-width: 1550px) and (max-width: 1849px) {
  .fullDiv {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (min-width: 1350px) and (max-width: 1549px) {
  .fullDiv {
    margin-left: 75px;
    margin-right: 75px;
  }
}

.fullDiv {
  display: flex;

  justify-content: space-between;

  padding-left: 40px;
  padding-right: 40px;
}

.fillerDiv {
  width: 400px;
}

.leftDiv {
  position: fixed;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* -80px for margin top for the whole page and -80px for padding bottom */
  height: calc(100% - 160px);
  padding-bottom: 80px;
}
.rightDiv {
  width: 650px;
}
.home {
  background: linear-gradient(135deg, #a8edea, #ff5757);
  background: linear-gradient(135deg, rgb(0, 33, 42), rgb(29, 33, 42));
  /* use for light mode ? */
  background: linear-gradient(135deg, #fff8f8, rgb(180, 202, 255));

  background: rgb(29, 33, 42);
  background: linear-gradient(135deg, rgb(0, 57, 72), #10172a);

  font-family: quicksand;
  font-weight: 300;
  margin: 0;
  margin-top: 80px;
  text-align: center;
  background-size: 100% 100%;
}
