.fullDiv {
  padding-top: 80px;
  display: flex;
  justify-content: center;

}

.subDiv {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

.fillerDiv {
  width: 400px;
}


.leftDiv {
  position: fixed;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* -80px for margin top for the whole page and -80px for padding bottom */
  height: calc(100% - 160px);
  padding-bottom: 80px;
}
.rightDiv {
  width: 650px;
  padding-bottom: 80px;
}
.home {
  font-family: quicksand;
  font-weight: 300;
  margin: 0;
  text-align: center;
  background-size: 100% 100%;
}

.mobileDiv {
  display: flex;
  justify-content: center;
}
