.projectDiv,
.experienceDiv {
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
  width: 600px;
  border-radius: 30px;

  text-align: left;

  transition: background-color 0.25s, box-shadow 0.25s, border-color 0.25s;
  border-top: 2px solid rgba(255, 255, 255, 0.1);

  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: brightness(1.1) blur(1px) url(#displacementFilter);

  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  border-right: 0.5px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.075),
    rgba(255, 255, 255, 0.075)
  );
}

.projectDiv::before,
.experienceDiv::before {
  content: "";
  position: absolute;
  z-index: 0;

  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent,
    transparent
  );
}

.projectDiv::after,
.experienceDiv::after {
  z-index: -10;

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    transparent,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
}

.titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 50px;
}

.title {
  color: rgba(255, 255, 255, 1);
  margin: 0px;
  font-weight: normal;
  border-radius: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-left: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0);
  border-right: 0.5px solid rgba(255, 255, 255, 0);
  transition: background-color 0.25s, box-shadow 0.25s, border-color 0.25s;
}
.subTitle {
  color: rgba(255, 255, 255, 1);
  font-weight: normal;
  padding: 10px;
  margin: 0px;
  margin-left: 1px;
  margin-right: 0.5px;
}

.gitDiv,
.stackDivChild,
.title,
.worksItem {
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-left: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0);
  border-right: 0.5px solid rgba(255, 255, 255, 0);
  border-radius: 15px;
  transition: 0.25s;
  padding: 5px 10px;
}

.gitDiv:hover,
.stackDivChild:hover,
.title:hover,
.worksItem:hover {
  cursor: pointer;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
  border-right: 0.5px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.25s;
}
.gitDiv {
  display: flex;
  align-items: center;
  transition: 0.25s;
  padding-right: 5px;
}

.gitDiv:hover {
  padding-right: 5px;
}

.gitDiv:active,
.stackDivChild:active,
.title:active,
.worksItem:active {
  transform: scale(0.98);
}

.gitHub {
  height: 40px;
}

.gitCat {
  height: 40px;
  margin: 6px;
}

.midDiv {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}

.stackDiv {
  display: flex;
  flex-direction: column;
}

.stackDivChild {
  display: flex;
  width: 110px;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5px;
  transition: 0.25s;
  color: rgba(255, 255, 255, 0.6);
}

.stackImg {
  height: 25px;
}

.stackImgTypescript {
  height: 20px;
  margin: 2.5px;
}

.list {
  margin: 0px;
  padding-left: 30px;
}

.listItem {
  color: rgba(255, 255, 255, 0.6);

  align-items: center;
  padding: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 4.5px;
  width: 360px;
}

.textLink {
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.25s;
}

.textLink:hover {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.projectImgDiv {
  height: 338px;
  border-radius: 20px;

  overflow: hidden;
}

.projectImg {
  width: 100%;
  transition: transform 0.3s ease;
}

.projectImg:hover {
  width: 100%;
  transform: scale(1.05);
  overflow: hidden;
  cursor: pointer;
}

.worksCitedDiv {
  display: flex;
  justify-content: right;
}

.worksDiv {
  display: flex;
  gap: 30px;
}

.worksItem {
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}
