
.daysDiv{
  background-color: hsl(228, 20%, 90%);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  
  
  border: 2px solid  hsl(228, 20%, 90%) ;
  border-top: 2px solid  hsl(228, 20%, 90%) ;
  border-bottom: none;
  
}

.dayDiv, .dayDivSun, .dayDivSat{
  /* Default: font size adjusts with viewport width */
  font-size: 13px;

  /* On larger screens (e.g., width greater than 1200px), reduce the font size 
  @media (min-width: 1200px) {
    font-size: .6vw;
  }
  */
  /* On smaller screens (e.g., width less than 600px), increase the font size 
  @media (max-width: 600px) {
    font-size: 2vw;
  }
  */

  background-color: rgb(255, 255, 255);
  padding-top: 5px;
  padding-bottom: 0px;
  
  
  
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.dayDivSun{
  border-top-left-radius: 20px;
  border-left: none;
}

.dayDivSat{
  border-top-right-radius: 20px;
  border-right: none;
}