
.calendarDiv{
  background-color: hsl(228, 20%, 90%);
  display: grid;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-columns: repeat(7, 1fr);
  
  border: 2px solid hsl(228, 20%, 90%);
  border-top: none;

  height: 700px;
  
}

.dayDivBlank{
  background-color: rgb(255,255,255);
}

.dayDiv{
  
  font-size: 13px;
  background-color: rgb(255, 255, 255);  
  transition: background-color .25s;
}

.dayDiv:hover{
  cursor: pointer;
  
  background-color: rgb(240, 241, 245); 
  transition: background-color .125s;
}

.dayDiv:active{
  
  
  background-color: rgb(224, 226, 238) ; 
  
}

.dayNumberDiv{
  padding-top: 5px;
  text-align: center;
}

.dayContentDiv{
  
  /* this is how much hight it needs to not cover up the bottom gap*/
  height: 95px;
  
  justify-items: center;
  
}


