


.introDiv{
  
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 1270px;
  justify-content: space-between;
  margin-bottom: 100px;
}

@media (max-width: 1300px) {
  .introDiv {
    
    width: 620px;
  }
}

.name{
  
  font-family: quicksand;
  font-weight: 300;
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  margin: 0px;
  margin-bottom: 20px;
  
  
}

.nameDiv{
  text-align: left;
}

.subName{
  font-family: quicksand;
  font-weight: 300;
  text-align: left;
  color: rgba(255, 255, 255, .8);
  margin: 0px;
}

.hokieDiv{
  display: flex;
}

.subtitleDiv{
  display: flex;
  
}

.subtitleDiv:hover{
  cursor: pointer;
}

.subtitleDiv:hover .maroonSpan{
  color: rgb(134, 31, 65);
  transition: color .25s;

}

.subtitleDiv:hover .orangeSpan{
  color: rgb(229, 117,31);
  transition: color .25s;
}

.subtitleDiv:hover .hokie{
  height: 44px;
  padding: 0px;
  
}

.maroonSpan{
  transition: color .25s;

}

.orangeSpan{
  transition: color .25s;
}

.hokie{
  height: 40px;
  padding: 2px;
  
  
}

.about{
  width: 620px;
  text-align: left;
  margin: 0px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  margin-top: 10px;
}





































.names{
  text-shadow: 
    -1px -1px 0 rgba(88, 197, 188, 0.5), /* Top-left shadow */
    1px -1px 0 rgba(161, 92, 92,.5),  /* Top-right shadow */
    -1px 1px 0 black,  /* Bottom-left shadow */
    1px 1px 0 black;   /* Bottom-right shadow */

  color: rgba(255,255,255,.5);
  font-size: 60px;
}





