.lightBar{
  box-shadow: 0px -50px 200px 50px rgba(103, 255, 247, 0.25);
  width: 50%;
  margin-left: 25%;
}

.homeDiv {
  display: inline-block;
  text-align: center;
  width: 100%;
  
}

.projectDiv {
  display: inline-block;
  width: 600px;
  height: 500px;
  border-radius: 10px;
  
  border-color: rgba(255, 255, 255, 0.25);
  margin: 15px;
  text-align: left;
  
  
  transition: background-color 0.25s, box-shadow 0.25s, border-color .25s;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px;
}



.projectDiv:hover {
  border-top: 2px solid rgba(255, 255, 255, 0.22);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}






